<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://unpkg.com/typeit@8.3.3/dist/index.umd.js"></script>
    <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
    <link rel="stylesheet" href="/css/form.css"/>
    <title>TODO</title>
</head>
<body>
<div class="site-wrap">
    <section data-scroll>
        <h1 class="title" th:text="${note.title}">제목</h1>
        <pre th:text="${note.body}">내용</pre>
    </section>
</div>

<script>
    ScrollOut({
        onShown: (element) => {
            new TypeIt(element.querySelector('.title'), {
                startDelay: 100,
                cursor: false,
            })
                .pause(2000)
                .go();
        },
    });
</script>
</body>
</html>
